<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>URL Index - TinyApp</title>
  </head>

<body style="font-size:20px; padding:50px;">
<% include ../partials/_header %>

<h2> Current URL Shortcuts:</h2>
    <ul>
    <% for (url in urls) { %>

      <li><form style="display: inline-block" method="POST" action="/urls/<%= url %>/delete">
        <button style="margin-right:5px; type="submit" class="btn btn-danger btn-sm">Delete 🗑</button></form><a href='/urls/<%= url %>'><button type="button" class="btn btn-primary btn-sm">Edit &#128221;</button></a>
        <%= url %> - <%=  urls[url] %>

      </li>
      <% } %>
      </ul>
<% include ../partials/_footer %>
</body>
</html>